%rebase('base.html', naslov='Pacienti')
<div class="container">
    <h2>Dodaj pacienta</h2>

    <form class="form-signin margin-gor-dol" role="form" method="post" action=".">
      %if napaka:
      <div class=" alert alert-warning margin-gor-dol">{{napaka}}</div>
      %end
        <div class="form-group">
          <label for="Ime-input">Ime</label>
          <input type="text" class="form-control" name="ime"  placeholder="Ime">
          <small id="" class="form-text text-muted">Napiši pacientovo ime.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Priimek</label>
            <input type="text" class="form-control" name="priimek"  placeholder="Priimek">
            <small id="" class="form-text text-muted">Napiši pacientov priimek.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Emšo</label>
            <input type="text" class="form-control" name="emso"  placeholder="Emšo">
            <small id="" class="form-text text-muted">Napiši pacientovo emšo.</small>
          </div>

        
      
        <button type="submit" class="margin-gor-dol btn btn-lg btn-primary btn-block" >Dodaj</button>
        
            <a class="margin-gor-dol btn btn-lg btn-primary btn-block" href="{{url('main')}}">Domov</a>
      
      </form>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>