%rebase('base.html', naslov='Pacienti')
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="/static/android-chrome-192x192.png" alt="" width="192" height="192">
          <h2>Registracija</h2>
          <p class="lead">Spodaj pripravljena forma vam, kjer lahko kot prijavljen zdravnik dodate nove paciente v svojo bolnišnico. Podatki morajo biti veljavni iz baze prebivalstva.</p>
        </div>
    
        %if napaka:
        <div class="alert alert-danger" role="alert">
          {{napaka}}
        </div>
        %end
    
        <form method="post" action=".">
          <div class="col-md-3 col-lg-8">
            <h4 class="mb-3">Splošni podatki</h4>
            <form class="needs-validation" novalidate>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Ime</label>
                  <input type="text" class="form-control" id="ime" name="ime" value="" required>
                  <div class="invalid-feedback">
                    Potrebno je izbrati veljavno ime.
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Priimek</label>
                  <input type="text" class="form-control" id="priimek" name="priimek" value="" required>
                  <div class="invalid-feedback">
                    Potrebno je izbrati veljavni priimek.
                  </div>
                </div>
    
                <div class="col-sm-12">
                  <label for="emso" class="form-label">Emšo</label>
                  <input type="text" class="form-control" id="emso" name="emso" value="" required>
                  <div class="invalid-feedback">
                    Potrebno je izbrati veljavno emšo številko.
                  </div>
                </div>
        
      
        <button type="submit" class="margin-gor-dol btn btn-lg btn-primary btn-block" >Dodaj</button>
        
            <a class="margin-gor-dol btn btn-lg btn-primary btn-block" href="{{url('main')}}">Domov</a>
      
      </form>
