%rebase('base.html', naslov='Prijava')
<body class="text-center">
    
  <main class="form-signin w-100 m-auto">
    %if napaka:
    <div class="alert alert-danger" role="alert">
      {{napaka}}
    </div>
    %end
    <form method="post" action=".">
      <img class="mb-4" src="\static\android-chrome-192x192.png" alt="" width="192" height="192">
      <h1 class="h3 mb-3 fw-normal">Prijava</h1>
  
      <div class="form-floating">
        <input type="username" class="form-control" id="floatingInput" name=username placeholder="tadej">
        <label for="floatingInput">Uporabnisko ime</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name=password placeholder="tadej">
        <label for="floatingPassword">Geslo</label>
      </div>
      <button class="w-100 btn btn btn-outline-primary" type="submit">Prijavi se</button>
    </form>
    <a class="btn btn-primary btn btn-secondary btn-sm" href="{{url('register_get')}}" role="button">Registriraj se</a>
  </main>
  
  
      
    </body>