%rebase('base.html', naslov='Prijava')
<div class = "container">
  %if napaka:
<div class="alert alert-danger" role="alert">
  {{napaka}}
</div>
%end
<body class="text-center">
 
  <main class="form-signin w-100 m-auto">
    <form method="post" action=".">
      <img class="mb-4" src="{{url('static' filename='\static\android-chrome-192x192.png')}}" alt="" width="192" height="192">
      <h1 class="h3 mb-3 fw-normal">Prijava</h1>
  
      <div class="form-floating">
        <input type="username" class="form-control" id="floatingInput" name=username placeholder="Uporabniško ime">
        <label for="floatingInput">Uporabniško ime</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name=password placeholder="Geslo">
        <label for="floatingPassword">Geslo</label>
      </div>
      <button class="w-100 btn btn btn-outline-primary" type="submit">Prijavi se</button>
    </form>
    <a href="{{url('register_get')}}" class="link-secondary">Registracija</a>
    
  </main>
  
  
</body>
</div>