%rebase('base.html', naslov='Moji pacienti')
  <div class="album py-5 bg-light">
    <div class="container">
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Seznam pacientov</h1>
            <p class="lead text-muted">Spodaj je seznam vseh pacientov, ki se nahajajo v vaši bolnišnici. S pomočjo gumbov lahko nad njimi izvajamo določene akcije</p>
            <p>
              <a href="{{url('main')}}" class="btn btn-primary my-2">Moj profil</a>
            </p>
          </div>
        </div>
      </section>    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        %for (ime, priimek, emso, pct) in pacienti:
        <div class="col">
            <a href ="{{url('pacient_certificate', x=emso)}}">
          <div class="card shadow-sm">
            <img class ="bd-placeholder-img card-img-top" src="{{url('static', filename='user_qrcodes/user_blank.png')}}" alt="twbs" href="{{url('pacient_certificate', x=emso)}}">
        </a>
            <div class="card-body">
              <h5 class="card-title">{{ime}} {{priimek}}</h5>
              <p class="card-text">{{emso}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{url('remove_post', x=emso)}}" class="btn btn-outline-secondary">Odstrani pacienta</a>
                    %if pct:
                    <a href="{{url('vax_get', x=emso)}}" class="btn btn-outline-primary">Cepi pacienta</a>
                    %end
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        %end
</div>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">&copy; COVID-19 Portal</p>
  </div>
</footer>