<!doctype html>
<html>
    <head>
        <title>Osebna izkaznica</title>
      
          <!-- Latest compiled and minified CSS -->
          %rebase('base.html', naslov='Certifikat')

    </head>
    <body>
    <div class="container">
        <h2>Pozdravljen!</h2>

        <ul class="list-group">
            %if ime:
            <h5>Ime:</h5><li class="list-group-item">{{ime}}</li>
            %end
            %if priimek:
            <h5>Priimek: </h5><li class="list-group-item">{{priimek}}</li>
            %end
            %if stalno_prebivalisce:
            <h5>Prebivališče: </h5><li class="list-group-item">{{stalno_prebivalisce}}</li>
            %end
            %if datum_testiranja:
            <h5>Datum zadnjega testiranja: </h5><li class="list-group-item">{{datum_testiranja}}</li>
            %end
            %if datum_testiranja:
            <h5>Rezultat zadnjega testa: </h5><li class="list-group-item">{{rezultat_test}}</li>
            %end
            %if cepivo:
            <h5>Cepivo: </h5><li class="list-group-item">{{cepivo}}</li>
            %end
        </ul>


   
        
       
        
       
            <a class="margin-gor-dol btn btn-lg btn-primary btn-block" href="{{url('main')}}" >Domov</a>
        
    </div>
    </body>
</html>