%rebase('base.html', naslov='PCT potrdilo')
    <div class="card text-center" style="width: 18rem;">
        <img src="{{url('static', filename='user_qrcodes/user_{{id}}.png'.format(id))}}" class="card-img-top" alt="...">
        <div class="card-body">
          %if ime:
          <h5 class="card-title">{{ime}} {{priimek}}</h5>
          %end
          <p class="card-text">{{stalno_prebivalisce}}</p>
        </div>
        <ul class="list-group list-group-flush">
          %if emso:
          <li class="list-group-item">{{emso}}</li>
          %end
          %if cepivo:
          <li class="list-group-item">{{cepivo}}</li>
          %end
          %if datum_testiranja:
          <li class="list-group-item">{{datum_testiranja}}</li>
          <li class="list-group-item">{{rezultat_test}}</li>
          %end
        </ul>
        <a href="{{url('remove_get')}}" class="btn btn-primary">Nazaj</a>
      </div>
