%rebase('base.html', naslov='Registracija')
<body class="text-center">
<style>
  .form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>
<main class="form-signin w-100 m-auto">
      %if napaka:
      <div class="alert alert-danger" role="alert">
        {{napaka}}
      </div>
      %end 
      <form method="post" action=".">
        <img class="mb-4" src="\static\android-chrome-192x192.png" alt="" width="192" height="192">
        <h1 class="h3 mb-3 fw-normal">Registracija</h1>
          <div class="form-floating">
            <input type="username" class="form-control" id="floatingIme" name=ime placeholder="Ime"
            %if ime:
            value="{{ime}}"
            %end
            required>
            <label for="floatingIme">Ime</label>
          </div>
          <div class="form-floating">
            <input type="username" class="form-control" id="floatingPriimek" name=priimek placeholder="Priimek"
            %if priimek:
            value="{{priimek}}"
            %end
            required>
            <label for="floatingPriimek">Priimek</label>
          </div>          
          <div class="form-floating">
            <input type="username" class="form-control" id="floatingEmso" name=emso placeholder="Emšo"
            %if emso:
            value="{{emso}}"
            %end
            required>
            <label for="floatingEmso">Emšo</label>
          </div>
          <div class="form-floating">
            <input type="username" class="form-control" id="floatingUsername" name=username placeholder="Uporabniško ime"
            %if username:
            value="{{username}}"
            %end
            required>
            <label for="floatingUsername">Uporabniško ime</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingpass1" name=password1 placeholder="Geslo" required>
            <label for="floatingpass1">Geslo</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingpass2" name=password2 placeholder="Geslo" required>
            <label for="floatingpass2">Potrdi geslo</label>
          </div>
          <button class="w-100 btn btn btn-outline-primary" type="submit">Registriraj se</button>
        </form>
        <a href="{{url('login_get')}}" class="link-secondary">Nazaj</a>
    </div> 
</main>
</body>
