%rebase('base.html', naslov='Odstrani Pacienta')
<!--     <div class="container">
        <h2>Tabela pacientov</h2>
        <form class="form-signin margin-gor-dol" role="form" method="post" action=".">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Ime </th>
                <th scope="col">Priimek</th>
                <th scope="col">Emso</th>
                <th scope="col">Akcije</th>
              </tr>
            </thead>
            <tbody>
                %for (ime,priimek,emso) in pacienti:
                    <tr>
                    <td>{{ime}}</td>
                    <td>{{priimek}}</td>
                    <td>{{emso}}</td>
                    <td><a class="margin-gor-dol btn  btn-primary"  href="{{url('remove_post', x=emso)}}">Odstrani</a>
                        <a class="margin-gor-dol btn btn-primary " href="{{url('pacient_certificate', x=emso)}}">Vpogled</a>
                        <a class="margin-gor-dol btn btn-primary " href="{{url('pacient_certificate', x=emso)}}">Vpogled</a>
                    </td>

                    </tr>
                    %end
              
                
              
            </tbody>
          </table>
        </form>
      </div> 

 -->

      <div class="list-group">
        %for (ime, priimek, emso) in pacienti:
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{url('pacient_certificate', x=emso)}}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2">{{ime}} {{priimek}}</h5>
            <small>3 days ago</small>
          </div>
         
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </a>
