%rebase('base.html', naslov='HOME')
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="32" height="32" role="img" aria-label="Bootstrap"><image href="/static/favicon-32x32.png"/></svg>
      </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{url('main')}}" class="nav-link px-2 link-secondary">Moj profil</a></li>
        %if is_doctor:
        <li><a href="{{url('add_pacient_get')}}" class="nav-link px-2 link-dark">Dodaj pacienta</a></li>
        <li><a href="{{url('remove_get')}}" class="nav-link px-2 link-dark">Moji pacienti</a></li>
        %end
        <li><a href="#" class="nav-link px-2 link-dark">O nas</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="{{url('logout')}}" class="btn btn-primary">Odjava</a>
      </div>
    </header>
    %if napaka:
    <div class="alert alert-danger" role="alert">
      {{napaka}}
    </div>
    %end
    <div class="card text-center" style="width: 18rem;">
      <img src="/static/user_qrcodes/user_{{id}}.png" class="card-img-top" alt="...">
      <div class="card-body">
        %if ime:
        <h5 class="card-title">{{ime}} {{priimek}}</h5>
        %end
        <p class="card-text">{{stalno_prebivalisce}}</p>
      </div>
      <ul class="list-group list-group-flush">
        %if emso:
        <li class="list-group-item">{{emso}}</li>
        %end

        %if is_vaxed:
        <li class="list-group-item">{{vax_id}}</li>
        %end
        %if is_doctor:
        <li class="list-group-item">{{hospital_name}}</li>
        %end
      </ul>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">&copy;COVID-19 Portal</span>
      </div>
    </footer>
  </div>
