%rebase('base.html', naslov='HOME')
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="32" height="32" role="img" aria-label="Bootstrap"><image href="/static/favicon-32x32.png"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{url('main')}}" class="nav-link px-2 link-secondary">Moj profil</a></li>
        %if is_doctor:
        <li><a href="{{url('add_pacient_get')}}" class="nav-link px-2 link-dark">Dodaj pacienta</a></li>
        <li><a href="{{url('remove_get')}}" class="nav-link px-2 link-dark">Moji pacienti</a></li>
        %end
        <li><a href="{{url('pct_certificate')}}" class="nav-link px-2 link-dark">PCT potrdilo</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="{{url('logout')}}" class="btn btn-primary">Odjava</a>
      </div>
    </header>

    <div class="card text-center" style="width: 18rem;">
      <img src="/static/user_qrcodes/user_{{id}}.png" class="card-img-top" alt="...">
      <div class="card-body">
        %if ime:
        <h5 class="card-title">{{ime}} {{priimek}}</h5>
        %end
      </div>
      <ul class="list-group list-group-flush">
        %if emso:
        <li class="list-group-item">{{emso}}</li>
        %end
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
</div>


<!-- 
    <div class="container">

        
        <h2>Pozdravljen!</h2>

        <ul class="list-group">
            %if ime:
            <h5>Ime:</h5><li class="list-group-item">{{ime}}</li>
            %end
            %if priimek:
            <h5>Priimek: </h5><li class="list-group-item">{{priimek}}</li>
            %end
            %if emso:
            <h5>Emso: </h5><li class="list-group-item">{{emso}}</li>
            %end
            %if stalno_prebivalisce:
            <h5>Prebivališče: </h5><li class="list-group-item">{{stalno_prebivalisce}}</li>
            %end
            %if is_doctor:
            <h5>Bolnisnica: </h5><li class="list-group-item">{{hospital_name}}</li>
            %end
          </ul>


   
        
       
        
        
           
      
        %if is_doctor:
      
            <a class="margin-gor-dol btn btn-lg btn-primary"  href="{{url('add_pacient_get')}}">Dodaj pacienta</a>
        
        %end
        
        %if is_doctor:
       
            <a class="margin-gor-dol btn btn-lg btn-primary" href="{{url('remove_get')}}">Moji pacienti</a>
      
        %end

        %if is_vaxed or is_tested:
       
            <a class="margin-gor-dol btn btn-lg btn-primary" href="{{url('pct_certificate')}}">PCT potrdilo</a>
     
        %end

        <a class="margin-gor-dol btn btn-lg btn-primary" href="{{url('logout')}}" >Odjava</a>
    
    </div> -->