<!doctype html>
<html>
    <head>
        <title>Osebna izkaznica</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
          <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    </head>
    <body>
    <div class="container">
        <h2>Pozdravljen!</h2>

        <ul class="list-group">
            %if ime:
            <h5>Ime:</h5><li class="list-group-item">{{ime}}</li>
            %end
            %if priimek:
            <h5>Priimek: </h5><li class="list-group-item">{{priimek}}</li>
            %end
            %if emso:
            <h5>Emso: </h5><li class="list-group-item">{{emso}}</li>
            %end
            %if stalno_prebivalisce:
            <h5>Prebivališče: </h5><li class="list-group-item">{{stalno_prebivalisce}}</li>
            %end
            %if datum_testiranja:
            <h5>Datum testiranja: </h5><li class="list-group-item">{{datum_testiranja}}</li>
            %end
            %if rezultat_test:
            <h5>Rezultat testa: </h5><li class="list-group-item">{{rezultat_test}}</li>
        %end
        %if cepivo:
        <h5>Cepivo: </h5><li class="list-group-item">{{cepivo}}</li>
        %end
          </ul>


   
        
       
        
        <div class="butni">
            <a class="margin-gor-dol btn btn-lg btn-primary btn-block" href="/logout/" >Odjava</a>
      
        %if is_doctor:
      
            <a class="margin-gor-dol btn btn-lg btn-primary btn-block"  href="/add_pacient/">Dodaj pacienta</a>
   
        %end
        %if is_vaxed:
       
            <a class="margin-gor-dol btn btn-lg btn-primary btn-block" href="/pct_certificate/">PCT potrdilo</a>
     
        %end
        %if is_doctor:
       
            <a class="margin-gor-dol btn btn-lg btn-primary btn-block" href="/remove_pacient/">Odstrani pacienta</a>
      
        %end
        </div>
    </div>
    </body>
</html>