%rebase('base.html', naslov='Cepljenje')
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <h2>Cepljenje</h2>
          <p class="lead">Spodaj pripravljena forma vam kot zdravniku omogoča beleženje cepljenja pacientov, ki še niso bili cepljeni</p>
        </div>
    
        %if napaka:
        <div class="alert alert-danger" role="alert">
          {{napaka}}
        </div>
        %end

        <div class="px-4">
          <h4 class="mb-3">Splošni podatki</h4>
        </div>

        <div class="row justify-content-center">
          <div class="col px-5">
            <form method="post" action=".">
              <form class="needs-validation" novalidate>
                <div>
                  <input type="text" readonly class="form-control-plaintext" id="ime" name="ime" value="{{ime}}" required>
                  <div class="invalid-feedback">
                    Potrebno je izbrati veljavno ime.
                  </div>
    
                <div>
                  <input type="text" readonly class="form-control-plaintext" id="priimek" name="priimek" value="{{priimek}}" required>
                  <div class="invalid-feedback">
                    Potrebno je izbrati veljavni priimek.
                  </div>
                </div>

                <div>
                    <input type="text" readonly class="form-control-plaintext" id="emso" name="emso" value="{{emso}}" required>
                    <div class="invalid-feedback">
                      Potrebno je izbrati veljavno emšo številko.
                    </div>
                </div>

                <div>
                  <button class="w-100 btn btn-primary btn-lg mt-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Izberi cepivo
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    %for cepivo in cepiva:
                    <a class="dropdown-item" href="{{url('vax_post', x=emso, cepivo=cepivo)}}">{{cepivo}}</a>
                    %end
                  </div>
                </div>
                
                <a href="{{url('main')}}" class="w-100 btn btn-primary btn-lg mt-4">Moj profil</a>
                
        </form>


</div>
          
