.opozorilo {
    color: #ff0000;
}

body{
    margin: 0 auto;
   

}
.container{
    max-width: 600px;
    margin:  30px;


}

.butni{
   width: 50%;
   font-display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 50px;
   background-color: #111111;

}

.margin-gor-dol {

    margin-top: 10px;
    margin-bottom: 10px;
}

.levi{

    background-color: #111111;
}

.levi{
    width: 50%;
    font-display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
    background-color: #111111;
 
 }

